/* line 1, /home/iv/rails_projects/tor/app/assets/stylesheets/slyders.scss */
.row {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  height: 100%;
  background: #eee 0 100%;
  border: 1px solid white;
}

/* line 9, /home/iv/rails_projects/tor/app/assets/stylesheets/slyders.scss */
body > div.content > div > div > div.col-md-6 > img {
  position: relative;
  top: 50px;
}

/* line 13, /home/iv/rails_projects/tor/app/assets/stylesheets/slyders.scss */
body > div.content > div > div > div.col-md-6 > p {
  padding-top: 10px;
}

/* line 16, /home/iv/rails_projects/tor/app/assets/stylesheets/slyders.scss */
body > div.content > div > div:last-child {
  margin-bottom: 17px;
}
