<div class="center">
  <ul align= center>
    <%= button_to 'Дома', class: "button", :method => :get %><br>
    <%= button_to 'Квартиры', class: "button", :method => :get %><br>
    <%= button_to 'Бунгало', class: "button", :method => :get %><br>
    <%= button_to 'Челеты', class: "button", :method => :get %><br>
  </ul>
</div>