<div class="center">
  <ul align= center>>
    <li><%= link_to 'Дома' %></li>
    <li><%= link_to 'Квартиры' %></li>
    <li><%= link_to 'Бунгало' %></li>
    <li><%= link_to 'Челеты' %></li>
  </ul>
</div>