<ul>
  <center>
  <h2>Жилье в наличии:</h2>
  <%= link_to 'Апартаменты', housing_path(housing: "0")%><br>
  <%= link_to 'Квартиры', housing_path(housing: "1") %><br>
  <%= link_to 'Бунгало', housing_path(housing: "2") %><br>
  <%= link_to 'Челеты', housing_path(housing: "3") %><br>
  </center>
</ul>