<p id="commercial">
  <!-- <marquee behavior="scroll" direction
  =right height="45" vspace="0" ><font color="#FF0000" size="+2" ><b><i> -->
  <marquee direction="right" style="color: #D9470D; font-size: 40px; font-weight: bolder; line-height: 150%; text-shadow: #000000 0px 1px 1px;">
    Lorem ipsum dolor sit
    реклама обои тел. 997-99-992 
    еще обои 333-222-55
    и еще лодки 111-111-111
    рыба 222-2222-22
    кофе 333-333-333
    вывоз 444-444-444
    ввоз 555-55-555
    завоз 666-666-666
    привоз 777-777-777
    </font>
  </marquee>
</p>