<% unless signed_in?%>
    <div id="commercial">
      <marquee direction="right" style="color: #D9470D; font-size: 25px; font-weight: bolder; line-height: 100%; text-shadow: #000000 0px 2px 2px;">
        <%= render "commercials/index"%>
        </font>
      </marquee>
    </div>
<%end%>