<div class="nav">
  <ul  class="list-unstyled"> 
    <li><%= link_to 'Новое жилье', new_torre_travel_path %></li>
    <li><%= link_to 'Главная стрница', torre_travels_path %></li>
    <li><%= link_to 'Просмотреть все', all_types_path %></li>
  </ul>
</div>
        