<div class="nav">        
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= link_to 'Главная стрница', :root %>
      <%= link_to 'Интересные места', sights_path %>
      <%= link_to 'Просмотреть все', all_types_path %>
      <%= link_to 'Отзывы', comments_path %>
    </div>
  </div>
</div>


