<div class="nav">        
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <li><%= link_to 'Главная стрница', :root %></li>
      <li><%= link_to 'Интересные места', sights_path %></li>
      <li><%= link_to 'Просмотреть все', all_types_path %></li>
      <li><%= link_to 'Отзывы', comments_path %></li>
    </div>
  </div>
</div>


