<%if @torre_travel.images.any?%>
  <%if signed_in?%>
    <% @torre_travel.images.each do |image|%>
      <%= image_tag image.image_of_housing.url(:small)%>
      <%= link_to "Destroy", image, method: :delete, data: { confirm: "Вы уверенны?"}, :class => 'deleteAction' %>
    <%end%>
  <%else%>
    <div class="row">
      <div class="col-md-2">
        <%= link_to 'Вернуться', all_types_path %>
      </div>
      <div class="col-md-8">
        <div class="fotorama" data-width="768" data-height="576" data-loop="true" data-autoplay="3000">
          <% @torre_travel.images.each do |image|%>
          <%= image_tag image.image_of_housing.url(:large) %>
          <%end%>
        </div> 
      </div>
    </div>
  <%end%>
<%end%>