<div class="left">
  <h3>Cвязаться с нами :</h3>
  <br>
    <p id="top-left">

      +38(067) 326-92-89;<br>
      +38(067) 326-92-90;<br>
      00:00 - 17:00 (время местное)<br>
      21:00 - 23:59 (время местное)<br>
      lost_found@ukr.net<br>
    </p>
</div>