<div class="left">
  <center>
  <h2>Cвяжитесь с нами :</h2>
    <p id="top-left">
      +34 602 416 651 Торревъеха Испания<br>
      torretravel2015@gmail.com
      <div class="email_us"><%= mail_to "torretravel2015@gmail.com", "Написать нам"%></div><br>
    </p>
  </center>
</div>