<div class="panel">
  <ul>
    <li><%= link_to 'Новое жилье', new_path %></li>
    <li><%= link_to 'Правка жилья и фото', all_types_path%></li>
    <li><%= link_to 'Редактор отзывов', comments_path%></li>
    <li><%= link_to "Выйти из админки", signout_path, method: "delete" %></li>
  </ul>
</div>