<div class="right">
  <div class="service">
    <h3>Наши услуги :</h3>

      <p id="top-right">
      <br>
         <%= link_to 'Гид по городу', service_path%><br>
         <%= link_to 'Экскурсовод', service_path%><br>
         <%= link_to 'Проезд', service_path%><br>
      </p>
  </div>
</div>