<div class="right">
  <div class="service">
    <h3>Наши услуги :</h3>

      <p id="top-right">
        - Переводчик<br>
        - Экскурсовод<br>
        - Проезд<br>
      </p>
  </div>
  <div class="commercial">
    <h3>Реклама</h3>
    
   <%= render 'partials/commercial'%>
  </div>
</div>