<div class="right">
  <div class="service">
  <center>
    <h2>Наши услуги :</h2>
    
      <p id="top-right">
         <%= link_to 'Гид по городу', service_path%><br>
         <%= link_to 'Экскурсовод', service_path%><br>
         <%= link_to 'Проезд', service_path%><br>
      </p>
      </center>
  </div>
</div>