<div class="top">
  <h1>Торревьеха</h1>
  <p id="top-text">
    Город и муниципалитет в Испании, входит в провинцию Аликанте в составе автономного сообщества Валенсия (автономное сообщество). Муниципалитет находится в составе района (комарки) Вега-Баха-дель-Сегура. Занимает площадь 71,44 км². Население города в начале 2008 года составило 100 000 человек — из которых 46,4 % — испанцы, 53,6 % — иностранцы, среди которых большинство англичан, немцев и скандинавов. По численности населения — третий город в провинции после Аликанте и Эльче.     
  </p>
</div>