<div class="index">
    <%if notice%>
      <p id="notice"><%= notice %></p>
    <% end %>
      <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <div id="main-index">
      <%= render 'partials/index'%>
    </div>
</div>