<div class="index">
  <p id="notice"><%= notice %></p>
      <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    </div>
    <div id="main-center">
      <%= render 'partials/index'%>
    </div>
</div>