<div class="edit">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Правка</h1>

      <%= render 'form' %>

      <%= link_to 'Показать', @torre_travel %> |
      <%= link_to 'Назад', torre_travels_path %>
    </div>
  </div>
</div>