<div class="new">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1>Новое жилье</h1>

      <%= render 'form' %>

      <%= link_to 'Назад', torre_travels_path %>
    </div>
  </div>
</div>