// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_comment { 
  table {
    border-collapse: separate; 
    width: 50%; 
    border-spacing: 7px 11px;
   }
	margin-top: 50px;
	font-family: 'Lobster';
}
