// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_comment { 
  table {
    border-collapse: separate; 
    width: 50%; 
    border-spacing: 7px 11px;
   }
   width: 97%;
}
a.deleteAction:hover{
    color:#FEC300;
  }

 .col-md-4.col-md-offset-4 {margin-top:10px; height:100%; background:#eee 0 100%;border:1px solid white;}
 .new{opacity: 0.9;box-shadow: 0 0 10px rgba(0,0,0,0.5);margin-top:10px; height:100%; background:#eee 0 100%;border:1px solid white;}