body {
  // рисунок на фон
  // background: url(../img/spain.jpg);
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 18px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


// ССЫЛКИ!!!!!!!!!!!!! 
a, ul a, #top-right a, .col-md-2 a, .show a,.new a{text-decoration: none;cursor:default;margin-left:4px;text-transform:uppercase;display: inline;text-shadow: black 1px 1px 1px;font-size:1.1em;font-weight:bold;padding:5px 12px 5px 12px;color:#ddd;} 
// {
//   color: #B22222;
//   font-size: 20px;
//   text-decoration: none;
// }
  a, #top-right a,ul a:visited {
    color:#BD0A1C;
  }

  td a,#top-right a:hover {
    color:#FEC300;
    text-decoration: none;
  }
  ul a:hover {
    color:#FEC300;
    text-decoration: none;
  }
  .nav  a:hover {
    color:#FEC300;
    text-decoration: none;
  }
  .show a:hover {
    color: #FEC300;
    text-decoration: none;
  }
  .edit a:hover {
    color: #FEC300;
    text-decoration: none;
  }
  .deleteAction{
    color:#FEC300;
    text-decoration: none;
  }

.admin.link{
  position: fixed;
  bottom: 0;
  font-size: 12px; color: white;
  right: 5px;
  a {
  color: #9C9C9C;
  font-size: 12px;
  text-decoration: none;
  }
  a:visited {
    color: #9C9C9C;
  }
  a:hover {
    color: #9C9C9C;
  }
}


//КУРСОР ПРИ НАВЕДЕНИИ НА SHOW ДОМ
.portfolioBox a img{
  cursor: pointer;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: #B22222;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #B22222;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

// HEADER

// .nav{
//   text-align: center;
//   background-color: #FFD700;
//   padding: 10px;
//   position: fixed; 
//   left: 0;
//   top: 0;  
//   width: 100%;
//   z-index:5;
// }

// .nav li {
//     display: inline;
//     padding-left: 20px;
//    }

//slyder
.spain{
    margin:0px;
    padding:0px;
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
   }

#top {
  h1{
    text-indent: 45px;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    }
  #top-text{
    margin-left: 1%;;
    text-indent: 15px;
    float:center;
    width:98%;
    height: 100%;
    line-height: 25px;
    font-size: 19px;
  }
}

#commercial{
  position: fixed; 
  left: 0;
  bottom: 0; 
  padding: 10px; 
  width: 100%; 
}
marquee {
  direction: right;
}


.new, .edit, .show{
  margin-left: 20px;
  margin-top: 10px;
}

.panel{
  margin-top: 130px;
  position: fixed;
  z-index: 1000;
  right: 0;
  width: 22%;
  background-color: #FFE173;
  a {
  color: #9C9C9C;
  font-size: 15px;
  text-decoration: none;
  }
  a:visited {
    color: #9C9C9C;
  }
  a:hover {
    color: #9C9C9C;
  }
}


#notice {
    z-index:6;
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                         to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    color: #fff;
    padding: 15px;
    position: fixed;
    top: 0;
    left:0;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
     -webkit-animation: animate-bg 5s linear infinite;
     -moz-animation: animate-bg 5s linear infinite;
      background-color: #B22222;
      border-color: #55a12c;
   }

// вид строк ввода
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


//при ошибочном заполнении формы input уменьшался
.field_with_errors{
  width: 100%;
}


//оформление index
#wrapper {width:960px;margin:0 auto;padding:0 10px;text-align:left;background:url(../img/wrapper-bg.png) 0 195px no-repeat;}
#contentArea {clear:both;float:left;padding:20px 30px 40px 20px;width:908px;border-left:1px solid #ddd;border-right:1px solid #ddd;background:#fff url(../img/contentArea-bg.png) 50% 1px no-repeat;}
#contentArea {width:920px;padding:19px;}
#primaryContent {float:right;width:560px;}
#secondaryContent {float:left;width:300px;padding:10px 33px 40px 10px;background:#fff url(../img/secondaryContent-bg.png) 100% 0 no-repeat;}
#primaryContent .portfolioBox {float:left;width:260px;margin:0 10px 20px 0;padding:10px 10px 30px 10px;background:#eee url(../img/portfolioBox-bg.png) 0 100% no-repeat;border:1px solid white;}
#primaryContent .portfolioBox img {width:210px;border:1px solid #fafafa;margin:0 0 10px 0;}
#primaryContent .portfolioBox h3 {margin:0 0 6px 0;}
#primaryContent .portfolioBox p {color:#444;}

//header
#header {height:130px;position:relative;padding-left:10px;background:#485558 url(../img/header-bg.png);border-bottom:3px solid #FEC300;}
#header ul {position:absolute;right:10px;bottom:0px;}
#header ul li {float:left;margin-left:4px;text-transform:uppercase;display: inline;text-shadow: black 2px 3px 4px;}
#header ul li a {display:block;font-size:1.1em;font-weight:bold;padding:5px 12px 5px 12px;color:#ddd;}
#header ul li a:hover {color:#FEC300;text-decoration: none;}

.line:hover:after {  
  content: attr(data-title); /* Выводим текст */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 11px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border: 1px solid #333; /* Параметры рамки */

}


// .line {
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 0.3s, visibility 0s linear 0.3s;
// }
// #primaryContent:hover .line {
//   // opacity: 1;
//   visibility: visible;
//   // transition-delay: 0s;
// }