body {
  background-color: #fff;
  color: #333;
  font-family: 'Lobster';
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'Lobster';
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  font-family: 'Lobster';
  color: #000;
  font-size: 20px;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: black;
    // background-color: #FFD700;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.nav{
  text-align: center;
  background-color: #FFE173;
  padding: 10px;
  position: fixed; 
  left: 0;
  top: 0;  
  width: 100%; 
}

.nav ul li {
    display: inline;
   }

.spain{
    margin:0px;
    padding:0px;
    display: block; /* Блочный элемент (для старых браузеров) */
    text-align: center; /* Выравнивание по центру */
    font-style: italic; /* Курсивное начертание */
    margin-top: 100px; /* Отступ сверху */
    margin-bottom: 5px; /* Отступ снизу */
    color: #666; /* Цвет подрисуночной подписи */
   }

#top {
  font-family: 'Lobster';
  h1{
    text-indent: 45px;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
    }
  #top-text{
    font-family: 'Lobster';
    margin-left: 1%;;
    text-indent: 15px;
    float:center;
    width:98%;
    height: 100%;
    margin-bottom: 50px;
    line-height: 25px;
    font-size: 19px;
  }
}

#main-left { 
  width: 19%; 
  float: left;
  font-family: 'Lobster';
  margin-left: 1%; 
}
#main-center {
  width: 53%; 
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  h1{
    font-family: 'Lobster';
    text-align: center;
  }
  table {
    border-collapse: separate; 
    width: 100%; 
    border-spacing: 7px 11px;
   }
  ul{
    font-family: 'Lobster';
  }
}
#main-index { 
  table {
    border-collapse: separate; 
    width: 50%; 
    border-spacing: 7px 11px;
   }
  width: 100%;  
  float: right;
  font-family: 'Lobster';
  margin-left: 1%;
}
#main-right { 
  width: 24%; 
  float: right;
  font-family: 'Lobster';
  margin-right: 1%;
}
#commercial{
  position: fixed; 
  left: 0;
  bottom: 0; 
  padding: 10px; 
  width: 100%; 
}
marquee {
  direction: right;
}

.index{
  margin-top: 50px;
  width: 100%;
}

.new{
  margin-top: 50px;
  margin-left: 20px;
}

.show{
  margin-top: 50px;
  margin-left: 20px;
  width: 97%;
}

.edit{
  margin-top: 50px;
  margin-left: 20px;
}

.admin{
  margin-top: 50px;
  margin-left: 20px;
}
.sign_in{
  margin-top: 50px;
  margin-left: 20px;
}
.user{
  margin-top: 50px;
  margin-left: 20px;
}

.panel{
  position: fixed;
  z-index: 1000;
  right: 0;
  width: 20%;
  background-color: #FFE173;
}

#notice {
  
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                         to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    color: #fff;
    padding: 15px;
    position: fixed;
    top: 0;
    left:0;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
     -webkit-animation: animate-bg 5s linear infinite;
     -moz-animation: animate-bg 5s linear infinite;
      background-color: #61b832;
      border-color: #55a12c;
   }
// #error{
//      background-color: #de4343;
//      border-color: #c43d3d;
// }
// #success{
//      background-color: #61b832;
//      border-color: #55a12c;
// }

// #message h3{
//      margin: 0 0 5px 0;
// }

// вид строк ввода
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.admin.link{
  position: fixed;
  bottom: 0;
  font-size: 12px; color: green;
  right: 5px;
}
.new_comment{
  width: 98%;
}