body {
  // рисунок на фон
  background: url(../img/spain.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-size: 18px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


// ССЫЛКИ!!!!!!!!!!!!! 
#index div:nth-child(1) div center div a, a, ul a, #top-right a, .col-md-2 a, .show a,.new a{text-decoration: none;cursor:default;margin-left:4px;text-transform:uppercase;display: inline;text-shadow: black 1px 1px 1px;font-size:1.1em;font-weight:bold;padding:5px 12px 5px 12px;color:#ddd;} 

#index div:nth-child(1) div center div a:hover{
  color:#FEC300;
  text-decoration: none;
}

a, #top-right a,ul a:visited {
  color:#BD0A1C;
}

td a,#top-right a:hover {
  color:#FEC300;
  text-decoration: none;
}
ul a:hover {
  color:#FEC300;
  text-decoration: none;
}
.nav  a:hover {
  color:#FEC300;
  text-decoration: none;
}
.show a:hover {
  color: #FEC300;
  text-decoration: none;
}
.edit a:hover {
  color: #FEC300;
  text-decoration: none;
}
.deleteAction{
  color:#FEC300;
  text-decoration: none;
}

.admin.link{
  position: fixed;
  bottom: 0;
  font-size: 12px; color: white;
  right: 5px;
  a {
  color: #9C9C9C;
  font-size: 12px;
  text-decoration: none;
  }
  a:visited {
    color: #9C9C9C;
  }
  a:hover {
    color: #9C9C9C;
  }
}


//КУРСОР ПРИ НАВЕДЕНИИ НА SHOW ДОМ
.portfolioBox a img{
  cursor: pointer;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: #B22222;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #B22222;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}





.new, .edit, .show{
  margin-left: 20px;
  margin-top: 10px;
}

.panel{
  margin-top: 130px;
  position: fixed;
  z-index: 1000;
  right: 0;
  width: 22%;
  background-color: #FFE173;
  a {
  color: #9C9C9C;
  font-size: 15px;
  text-decoration: none;
  }
  a:visited {
    color: #9C9C9C;
  }
  a:hover {
    color: #9C9C9C;
  }
}


#notice {
    z-index:6;
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                         to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    color: #fff;
    padding: 45px;
    position: fixed;
    top: 0;
    left:0;
    _position: absolute;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
     -webkit-animation: animate-bg 5s linear infinite;
     -moz-animation: animate-bg 5s linear infinite;
      background-color: #B22222;
      border-color: #55a12c;
   }

// вид строк ввода
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


//при ошибочном заполнении формы input уменьшался
.field_with_errors{
  width: 100%;
}


//оформление index
#wrapper {width:960px;margin:0 auto;padding:0 10px;text-align:left;}
#contentArea {clear:both;float:left;padding:20px 30px 40px 20px;width:908px;}
#contentArea {width:920px;padding:19px;}
#primaryContent {float:right;width:560px;}
#secondaryContent {opacity:0.9;float:left;width:300px;padding:10px 33px 40px 10px;background:#fff ;}
#primaryContent .portfolioBox {float:left;width:260px;margin:0 10px 20px 0;padding:10px 10px 30px 10px;background:#eee;border:1px solid white;}
#primaryContent .portfolioBox img {width:210px;border:1px solid #fafafa;margin:0 0 10px 0;}
#primaryContent .portfolioBox h3 {margin:0 0 6px 0;}
#primaryContent .portfolioBox p {color:#444;}

//header
#header {margin-top:-10px;height:120px;position:relative;background:#485558 url(../img/header-bg.png);border-bottom:3px solid #FEC300;}
#header ul {position:absolute;right:10px;bottom:0px;}
#header ul li {float:left;margin-left:4px;text-transform:uppercase;display: inline;text-shadow: black 2px 3px 4px;}
#header ul li a {display:block;font-size:1.1em;font-weight:bold;padding:5px 12px 5px 12px;color:#ddd;}
#header ul li a:hover {color:#FEC300;text-decoration: none;}

.line:hover:after {  
  content: attr(data-title); /* Выводим текст */
  z-index: 1; /* Отображаем подсказку поверх других элементов */
  background: rgba(255,255,230,0.9); /* Полупрозрачный цвет фона */
  font-family: Arial, sans-serif; /* Гарнитура шрифта */
  font-size: 11px; /* Размер текста подсказки */
  padding: 5px 10px; /* Поля */
  border: 1px solid #333; /* Параметры рамки */

}


//pagination
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

  .apple_pagination {
  // background: #f1f1f1;
  // border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }